.navbar {
    display: flex;
    border-bottom: 1px solid #C0C0C0;
    justify-content:center;
}

.navbar-container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }
  
  .logo {
    cursor: pointer;
    gap: 8px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }

  .logo-text  {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #282828;
  }

.nav-item {
    margin: 10px;
    display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
cursor: pointer;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.nav-item:hover {
    color: rgb(20, 52, 194);
    transform: scale(1.2)
}

.nav-item-button{
    text-decoration: none !important;
    color: #282828;
}

.nav-item-button:hover {
    color: rgb(20, 52, 194);
      transform: scale(1.2)
}